body {
    display: block;
}

.main-container {
    width: 100%;
    height: 100%;
}

/* TOP CONTAINER */
header:nth-of-type(1) {
    width: 100%;
    height: 200px;
    padding: 44px 0px 50px;
}

/* LOGO */
header div {
    width: 250px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

/* NAV BAR */
header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 425px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

/* NAV BAR CONTENTS */
header nav ul a {
    text-transform: uppercase;
    font-weight: bold;
}

header nav ul li a:hover {
    color: #0ba39c;
}

header nav ul li:nth-of-type(1) {
    color: #0ba39c;
}

/* SECOND CONTAINER */
section:nth-of-type(1) {
    height: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

section:nth-of-type(1) img {
    position: absolute;
    height: 335px;
    width: 100%;
}

/* MAIN CENTRAL TEXT */
section:nth-of-type(1) div.mainText {
    grid-column: 2 / 3;
    position: absolute;
    margin-top: 20px;
}

section:nth-of-type(1) div.mainText p:nth-of-type(1){
    color: black;
    background-color: white;
    padding: 15px 35px 15px 35px;
    width: fit-content;
}

section:nth-of-type(1) div.mainText p{
    color: white;
    background-color: #252525;
    padding: 10px 20px 10px 20px;
    margin-bottom: 15px;
    width: fit-content;
}

section:nth-of-type(1) div.mainText button {
    color: white;
    border: none;
    margin-top: 15px;
    width: 115px;
    height: 50px;
    padding: 8px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: #0ba39c;
    text-align: center;
}

/* THIRD CONTAINER WITH 3 IMAGES*/
section:nth-of-type(2) {
    width: 100%;
    min-width: 800px;
    height: 275px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

section:nth-of-type(2) ul{
    margin: 10px;
    height: auto;
    list-style-type: none;
    padding-left: 0px;
    opacity: 0.75;
}

section:nth-of-type(2) ul:hover {
    opacity: 2;
  }

section:nth-of-type(2) ul li a img {
    width: 221px;
    height: 200px;
    height: auto;
    border: 1.5px solid #1a1a1a;
}

section:nth-of-type(2) ul li a p{
    padding-top: 15px;
}

/* FOOTER - FOURTH CONTAINER */
footer {
    width: 100%;
    height: 85px;
    display: grid;
    grid-template-columns: 1.25fr 0.50fr 1.25fr;
    align-content: center;
    text-align: center;
    justify-content: center;
    background-color: #252525;
}

footer div:nth-of-type(1) {
    font-size: 12px;
}

footer div:nth-of-type(1) p {
    margin-top: 17px;
    color: white;
}

footer div:nth-of-type(2) {
    grid-column: 3 / 4;
}

.fa {
    color: white;
}

.fa:hover {
    color: #525151;
}

@media (max-width: 576px) {
    body {
        background-color: white;
    }    

    /* START OF THE BURGER MENU */

    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        background-color: #1a1a1a;
    }
    
    .hamburger {
        display: block;
        color: black;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        gap: 0;
        flex-direction: column;
        align-items: center;
        width: 25%;
        text-align: center;
        transition: 0.3s;
    }

    header nav ul li {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }

    /* HIDING ITEMS HERE */
    section:nth-of-type(1) img {
        display: none;
    }

    section:nth-of-type(1) div.mainText {
        display: none;
    }

    section:nth-of-type(2) {
        flex-wrap: wrap;
    }
}