body {
    display: block;
}

.mainContainer {
    width: 100%;
    height: 100%;
}

/* TOP CONTAINER WITH NAV BAR */
header:nth-of-type(1) {
    width: 100%;
    height: 200px;
    padding: 44px 0px 50px;
}
/* LOGO */
header div {
    width: 250px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
/* NAV BAR */
header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 425px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

/* NAV BAR CONTENTS */
header nav ul a {
    text-transform: uppercase;
    font-weight: bold;
}

header nav ul li a:hover {
    color: #0ba39c;
}

header nav ul li:nth-of-type(5) {
    color: #0ba39c;
}

/* SECOND CONTAINER FOR TITLE */
section:nth-of-type(1) {
    width: 100%;
    height: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

section:nth-of-type(1) div:nth-of-type(1) {
    background-color: #252525;
    width: 420px;
    height: fit-content;
    padding: 8px;
    justify-items: center;
}

section:nth-of-type(1) div:nth-of-type(1) h1 {
    color: white;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
}

/* THIRD CONTAINER FOR INPUT FORM FIELDS */

form:nth-of-type(1) {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 25px;
}

form:nth-of-type(1) div:not(.buttonConfirm){
    border: 1.5px solid #1a1a1a;
    text-align: center;
    width: 460px;
    padding: 5px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 12px;
}

form:nth-of-type(1) div input {
    height: 30px;
    width: 447px;
}

form:nth-of-type(1) div textarea {
    height: 150px;
    width: 447px;
}

form:nth-of-type(1) div button {
    width: 87px;
    height: 53px;
    border: 1px solid black; 
    background-color: #252525;
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

form:nth-of-type(1) div button:hover {
    background-color: white;
    color: black;
}

/* FOOTER */
footer {
    width: 100%;
    height: 85px;
    display: grid;
    grid-template-columns: 1.25fr 0.50fr 1.25fr;
    align-content: center;
    text-align: center;
    justify-content: center;
    background-color: #252525;
}

footer div:nth-of-type(1) {
    font-size: 12px;
}

footer div:nth-of-type(1) p {
    margin-top: 17px;
    color: white;
}

footer div:nth-of-type(2) {
    grid-column: 3 / 4;
}

.fa {
    color: white;
}

.fa:hover {
    color: #525151;
}